html {
  box-sizing: border-box;
  min-height: 100%;

  font-size: 14px;
  // line-height: 30.54px;
  // line-height: 1.2;

  @media (min-width: 1920px) {
    font-size: 22px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;

  font-family: $main-font-stack;
  font-weight: 300;
  font-style: normal;

  color: $primary-text-color;

  @media (min-width: 1920px) {
    max-width: 1920px;
    margin: auto;
  }
}
