$main-font-stack: 'Intro';

$white-color: #fff;
$primary-accent-color: #20242f;
$secondary-accent-color: #aa2d51;
$tertiary-accent-color: #3294dc;

$primary-text-color: #091632;
$secondary-text-color: #0c194f;
