.button_theme_islands {
  font-family: 'Intro';
  font-weight: bold;
  text-transform: uppercase;

  transition: all 0.2s linear;
}

.button_theme_islands::before {
  transition: all 0.2s linear;
}

.button_theme_islands.button_order-form {
  border-radius: 21px;

  @media (min-width: 1200px) {
    border-radius: 24px;
  }
}

.button_theme_islands.button_order-form:before {
  border-radius: 20px;

  @media (min-width: 1200px) {
    border-radius: 23px;
  }
}

.button_theme_islands.button_order-form.button_size_m {
  line-height: 44px;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 50px;
  }
}

.button_theme_islands.button_order-form.button_size_m .button__text {
  margin: 0 56px;

  @media (min-width: 1200px) {
    margin: 0 65px;
  }
}

.button_theme_islands.button_scroll {
  color: $white-color;
}

.button_theme_islands.button_scroll:before {
  color: $white-color;
  box-shadow: initial;
}

.button_theme_islands.button_scroll.button_hovered:before {
  box-shadow: initial;
}

.button_theme_islands.button_scroll .button__text {
  display: block;
}

.button_theme_islands.button_scroll.button_size_m {
  font-size: 14px;
  line-height: 17px;
}

.button_theme_islands.button_scroll.button_size_m .icon {
  width: 20px;

  @media (min-width: 1200px) {
    width: 27px;
  }
}

.button_theme_islands.button_color_blue {
  color: $white-color;
  background: transparent;
  transition: background 0.2s linear;
}

.button_theme_islands.button_color_blue:before {
  background: #3294dc;
}

.button_theme_islands.button_color_blue.button_hovered {
  background: transparent;
}

.button_theme_islands.button_color_blue.button_hovered:before {
  background: darken(#3294dc, 10%);
}

.button_theme_islands.button_color_blue.button_pressed:before {
  background: darken(#3294dc, 10%);
}

.button_theme_islands.button_color_white {
  color: $primary-text-color;
  background: transparent;
  box-shadow: 0px 28px 57px 0px rgba(0, 0, 0, 0.62);
  transition: background 0.2s linear;
}

.button_theme_islands.button_color_white:before {
  background: $white-color;
}

.button_theme_islands.button_color_white.button_hovered {
  background: transparent;
}

.button_theme_islands.button_color_white.button_hovered:before {
  background: darken($white-color, 10%);
}

.button_theme_islands.button_color_white.button_pressed:before {
  background: darken($white-color, 10%);
}

.button_theme_islands.button_size_m {
  font-size: 16px;
}

.button_theme_islands.button_screen.button_size_m {
  font-size: 18px;
  line-height: 54px;
}

.button_theme_islands.button_screen.button_size_m .button__text {
  margin: 0 51px;
}

.button_theme_islands.button_screen-6 {
  border-radius: 19px;

  @media (min-width: 1200px) {
    border-radius: 27px;
  }
}

.button_theme_islands.button_screen-6:before {
  border-radius: 18px;

  @media (min-width: 1200px) {
    border-radius: 26px;
  }
}

.button_theme_islands.button_screen-6.button_size_m {
  font-size: 13px;
  line-height: 38px;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 54px;
  }
}

.button_theme_islands.button_screen-6.button_size_m .button__text {
  margin: 0 30px;

  @media (min-width: 1200px) {
    margin: 0 53px;
  }
}

.button_theme_islands.button_screen-10 {
  background: #7b8290;
  letter-spacing: 1px;
}

.button_theme_islands.button_screen-10.button_size_m .button__text {
  margin: 0 18px;

  @media (min-width: 1200px) {
    margin: 0 22px;
  }
}

.button_theme_islands.button_screen-10.button_checked {
  color: $white-color;
  background: #091632;
}

.button_theme_islands.button_screen-10:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
}

.button_theme_islands.button_screen-10.button_hovered:before {
  background: darken($white-color, 10%);
}

.button_theme_islands.button_screen-10.button_checked:before {
  background: #091632;
}

.button_theme_islands.button_checked.button_focused-hard.button:before {
  box-shadow: initial;
}

.button_theme_islands.button_checked.button_focused-hard.button {
  box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}

.button_theme_islands.button_screen-10.button_size_m {
  font-size: 10.29px;
  line-height: 36px;

  @media (min-width: 1200px) {
    font-size: 12px;
    line-height: 42px;
  }
}

.button_theme_islands.button_subscription-card {
  letter-spacing: 2px;
}

.button_theme_islands.button_subscription-card.button_size_m {
  font-size: 14px;
  line-height: 46.9px;

  @media (min-width: 1200px) {
    line-height: 50px;
  }
}

.button_theme_islands.button_subscription-card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button_theme_islands.button_subscription-card::before {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.button_theme_islands.button_subscription-card.button_size_m .button__text {
  margin: 0 55px;

  @media (min-width: 1200px) {
    margin: 0 63px;
  }
}

.button_theme_islands.button_color_blue.button_subscription-card {
  background: $tertiary-accent-color;
}

.button_theme_islands.button_color_blue.button_subscription-card.button_hovered:before {
  background: darken($tertiary-accent-color, 10%);
}

.button_theme_islands.button_color_blue.button_subscription-card.button_pressed:before {
  background: darken($tertiary-accent-color, 10%);
}

.button_theme_islands.button_color_dark-blue.button_subscription-card {
  color: $white-color;
}

.button_theme_islands.button_color_dark-blue.button_subscription-card {
  background: darken($tertiary-accent-color, 10%);
}

.button_theme_islands.button_color_dark-blue.button_subscription-card::before {
  background: darken($tertiary-accent-color, 10%);
}

.button_theme_islands.button_color_dark-blue.button_subscription-card.button_hovered:before {
  background: darken($tertiary-accent-color, 15%);
}

.button_theme_islands.button_color_dark-blue.button_subscription-card.button_pressed:before {
  background: darken($tertiary-accent-color, 15%);
}
