.button_theme_islands {
  font-family: 'Intro';
  font-weight: bold;
  text-transform: uppercase;
}

.button_theme_islands.button_view_form {
  border-radius: 21px;
}

.button_theme_islands.button_view_form:before {
  border-radius: 20px;
}

.button_color_blue {
  color: $white-color;
  background: transparent;
}

.button_color_blue:before {
  background: #1375bd;
}

.button_color_blue.button_hovered {
  background: #1375bd;
}

.button_color_blue.button_pressed:before {
  background: darken(#1375bd, 10%);
}

.button_theme_islands.button_size_m {
  font-size: 16px;
}

.button_theme_islands.button_view_section.button_size_m {
  font-size: 18px;
  line-height: 54px;
}

.button_theme_islands.button_view_form.button_size_m {
  line-height: 43px;
}
