.icon {
  min-width: 1em;
}
.icon {
  display: inline-block;
  text-align: center;
  background: 50% no-repeat;
}
.icon:empty:after {
  visibility: hidden;
  content: '\00A0';
}
.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;
  vertical-align: middle;
}
.icon_social_twitter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABPElEQVQ4y2NgGDTg3fdf/LjE+47fLajbf6Nx3vmHCTAxDPX+K89shClABvqzDl9gmHLmP8O0C/8ZJp7877Dg6H75SfsezLvwOAlFof22x6dAChI2nJ8PM/3c8w8GDEse/2dY8w6BF97/z7/mxefzr744oRgw7/bnOrCCOTf+C3TvegcyKH/PzSkomqF4/ZMfFf///+dBMcBhzbWjcEUrX4ENYph55T82A4BABCOwzr/9Eca/4d1nbBqQscGej7exxgLISXWXv8wnZMi8O18acUblviefw/V3vL2Nz3agRRI4DQBK8p97+zMq4OjnQ9g0v//51x5nIgKFukDHtncMnXv/M8y/jaI5/vSXbSDNQAuYcdnMDMQa59//Tqi7+m0hDM+7/6Pz3pc/4SA5nJrRAxKI5ZGwBBCzMwxqAADz8kerOr7ibwAAAABJRU5ErkJggg==);
}
.icon_social_vk {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAn0lEQVR4AWOIaVp9GIj/k4kPM4AYlOBBagAy+P7z9/9X77/8X7DtHOkGrNhz6f+pa0/A7H///v3P7NlEkgFgdtm0HXCXJLevJ82Al+++gDWCwNJdF0n3wuajN/7vOnX7/7cfv/7/A/JnbjxFshfAeN/ZuyAuKDxID8Stx2/CvbEcyCc5Gn/++vP/2ZtP/9cdvPo/rnnNYE2JlGBKs/MRAGrqwcdnEkh/AAAAAElFTkSuQmCC);
}

.icon_scroll {
  @include bg-image('../../../images/icons/mouse-wheel-mobile', 'png');

  @media (min-width: 1920px) {
    @include bg-image('../../../images/icons/mouse-wheel-desktop', 'png');
  }
}

$icons: location, bus, food, padlock, tree, internet, desc-lamp, hand-shake,
  phone-booth, printer, bulb, vacuum-cleaner, student, calendar, cup, coctail,
  office, conference, teapot, developer-mode, group, suitcase, money-bag, house,
  support, coffee-maker, barbell, refrigerator, bottle;

@include generate-pseudo-icons(
  'icon_',
  $icons,
  '../../../images/icons/icon-',
  '-mobile',
  'png'
);

@media (min-width: 1920px) {
  @include generate-pseudo-icons(
    'icon_',
    $icons,
    '../../../images/icons/icon-',
    '-desktop',
    'png'
  );
}
