.input_theme_islands {
  border-radius: 8px;

  font-family: 'Intro';
  font-weight: normal;

  background: #ececec;
}

.input_theme_islands:before {
  border-radius: 8px;
  background: #ececec;
}

.input_theme_islands .input__control {
  color: transparent;
  text-shadow: 0 0 0 #717896;
}

.input_theme_islands .input__control::-webkit-input-placeholder {
  color: #717896;
}

.input_theme_islands .input__control::-moz-placeholder {
  color: #717896;
}

.input_theme_islands.input_order-form.input_size_m {
  height: 37px;

  font-size: 16px;
  line-height: 37px;

  @media (min-width: 1200px) {
    height: 42px;

    font-size: 18px;
    line-height: 42px;
  }
}

.input_theme_islands.input_size_m .input__clear {
  @media (min-width: 1200px) {
    background-position: 9px 59%;
  }
}

.input_theme_islands.input_size_m .input__control {
  height: 37px;
  padding: 0 48px;

  text-align: center;

  @media (min-width: 1200px) {
    padding: 0 58px;
  }
}

.input_theme_islands.input_size_m .input__clear {
  height: 37px;
}

.input_theme_islands.input_size_m.input_has-clear .input__control {
  padding-right: 48px;

  @media (min-width: 1200px) {
    padding-right: 58px;
  }
}
