.form {
  text-align: center;
}

.form__title,
.form__text {
  margin: 0;

  font-size: 16px;
  line-height: 19px;
  font-weight: 300;

  color: $secondary-text-color;

  &_bold {
    font-weight: bold;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}

.form__title {
  margin-top: 73px;
  margin-bottom: 9px;
}

.form__text {
  margin-bottom: 16px;
}

.form__item {
  margin-bottom: 8px;

  &:nth-child(3n) {
    margin-bottom: 17px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__control {
  // width: 261px;
}

.form__input {
  height: 37px;
}
