.header__content {
  position: relative;

  text-align: center;

  @media (min-width: 1200px) {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
  }
}

.header__content-group {
  position: absolute;
  left: 45px;
  top: 19px;

  display: flex;
  width: 221px;

  justify-content: space-between;
  align-items: center;

  @media (min-width: 1200px) {
    position: initial;
    left: initial;
    top: initial;

    width: 300px;
    margin-top: 48px;

    align-items: flex-start;

    order: 2;
  }
}

.header__telephone {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;

  color: $white-color;

  @media (min-width: 1200px) {
    padding-top: 4px;

    font-size: 27px;
  }
}

.header__lang-switcher {
  position: relative;

  display: flex;
  flex-basis: 54px;

  height: 23px;
  border-radius: 12px;

  transform: translateY(-1px);

  @media (min-width: 1200px) {
    height: 24px;
    margin-top: 1px;
  }
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 99px;

  transform: translateX(-50%);

  @media (min-width: 1200px) {
    position: initial;
    left: initial;
    top: initial;

    order: 1;

    transform: initial;
  }
}
