.modal-backdrop {
  background-color: rgba($color: #02071d, $alpha: 0.902);
  background-color: rgba(#02071d, 0.902);
}

.modal-backdrop__order-form {
  position: absolute;
  top: 184px;
  left: 50%;
  transform: translateX(-50%);

  width: 296px;
  border-radius: 8px;

  @media (min-width: 1200px) {
    top: 297px;

    width: 340px;
    border-radius: 8px;

    transform: translate(-50%, -20%);
  }
}
