.page {
  position: relative;
}

.page__header {
  position: absolute;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);

  @media (min-width: 1200px) {
    top: 16px;
  }
}

.page__screen {
  width: 100%;
}

.page__screen-1 {
  position: relative;

  height: 524px;

  @media (min-width: 1200px) {
    height: 686px;
  }
}

.page__screen-3 {
  height: 586px;

  @media (min-width: 1200px) {
    height: 749px;
  }
}

.page__screen-4 {
  height: 655px;

  @media (min-width: 1200px) {
    height: 751px;
  }
}

.page__screen-5 {
  height: 636px;

  @media (min-width: 1200px) {
    height: 748px;
  }
}

.page__screen-6 {
  height: 349px;

  @media (min-width: 1200px) {
    height: 587px;
  }
}

.page__screen-7 {
  height: 615px;

  @media (min-width: 1200px) {
    height: 750px;
  }
}

.page__screen-8 {
  height: 682px;

  @media (min-width: 1200px) {
    height: 748px;
  }
}

.page__screen-9 {
  height: 605px;

  @media (min-width: 1200px) {
    height: 750px;
  }
}

.page__screen-10 {
  height: 2407px;

  @media (min-width: 1200px) {
    height: 940px;
  }
}

.page__footer {
  height: 104px;
}
