.page {
  position: relative;
}

.page__header {
  position: absolute;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);

  @media (min-width: 1200px) {
    top: 16px;
  }
}

.page__screen {
  width: 100%;
}

.page__modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: none;
  height: 100%;
  width: 100%;
}

.page.show-modal .page__modal-backdrop {
  display: block;
}
