.page {
  position: relative;
}

.page__header {
  position: absolute;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);

  @media (min-width: 1200px) {
    top: 16px;
  }
}

.page__screen {
  width: 100%;
}
