.screen-6 {
  text-align: center;

  @media (max-width: 320px) {
    @include bg-image('../images/screen-6_bg-img-mobile');
  }

  @media (min-width: 321px) {
    @include bg-image('../images/screen-6_bg-img-desktop');
  }
}

.screen-6__content {
  padding-top: 67px;

  @media (min-width: 1200px) {
    padding-top: 143px;
  }
}

.screen-6__title {
  margin-bottom: 13px;

  @media (min-width: 1200px) {
    margin-bottom: 14px;

    font-size: 60px;
    line-height: 72px;
    text-align: center;
  }
}

.screen-6__text {
  margin: 0;
  margin-bottom: 41px;

  font-size: 19.8px;
  line-height: 24px;

  @media (min-width: 1200px) {
    margin-bottom: 62px;

    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }
}

.screen-6 .screen__title_style_2 {
  padding-top: 10px;
  font-size: 20px;
  line-height: 24px;
}

.screen-6__button {
  width: 296px;

  @media (min-width: 1200px) {
    width: 430px;
  }
}
