.screen-11__gallary {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.screen-11__gallary-item {
  @media (min-width: 1200px) {
    $screen-w: 100%;
    $image-number-in-line: 10;
    $image-w: $screen-w / $image-number-in-line;

    width: $image-w;
    height: auto;

    background-color: $secondary-accent-color;
  }
}

.screen-11__gallary-image {
  @media (min-width: 1200px) {
    cursor: pointer;
    transition: filter 0.2s linear;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
