.screen-5__content {
  padding-top: 35px;

  @media (min-width: 1200px) {
    padding-top: 130px;
  }
}

.screen-5__title {
  margin-bottom: 41px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 55px;
    line-height: 66px;
    text-align: initial;
  }
}

.screen-5__list {
  @media (min-width: 1200px) {
    width: 571px;
  }
}

.screen-5__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 37px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 16px;
    padding-left: 42px;

    line-height: 29px;

    text-align: initial;

    &:last-child {
      margin-bottom: 35px;
    }
  }
}

.screen-5__icon {
  &_bulb::before {
    left: 2px;
    top: -2px;

    width: 12px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 4px;

      width: 18px;
      height: 27px;
    }
  }

  &_vacuum-cleaner::before {
    left: 1px;
    top: -4px;

    width: 15px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 1px;
      top: -2px;

      width: 26px;
      height: 26px;
    }
  }

  &_student:before {
    left: 0px;
    top: 0;

    width: 16px;
    height: 13px;

    @media (min-width: 1200px) {
      left: -1px;
      top: 4px;

      width: 26px;
      height: 21px;
    }
  }

  &_calendar::before {
    left: 3px;
    top: 0;

    width: 14px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 4px;
      top: 3px;

      width: 21px;
      height: 24px;
    }
  }

  &_cup::before {
    left: 2px;
    top: 2px;

    width: 16px;
    height: 11px;

    @media (min-width: 1200px) {
      left: 0;
      top: 5px;

      width: 26px;
      height: 20px;
    }
  }
}

.screen-5__time-counter {
  display: flex;
  width: 100%;
  margin-top: 251px;

  justify-content: space-between;

  @media (min-width: 1200px) {
    width: 571px;
    margin-top: initial;
  }
}
