.screen-1 {
  color: $white-color;
  text-align: center;

  @media (min-width: 320px) {
    background-color: #091632;
  }

  @media (max-width: 320px) {
    @include bg-image('../images/screen-1_bg-img-mobile');
  }

  @media (min-width: 321px) {
    @include bg-image('../images/screen-1_bg-img-desktop');
  }
}

.screen-1__content {
  padding-top: 288px;
  // padding-bottom: 276px;

  @media (min-width: 1200px) {
    padding-top: 248px;
    // padding-bottom: 236px;
  }
}

.screen-1__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 30px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}

.screen-1__descr {
  margin: 0;
  margin-bottom: 27px;

  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.screen-1__button {
  margin-bottom: 55px;

  @media (min-width: 1200px) {
    display: inline-block;
    margin-bottom: 237px;
  }
}

.screen-1__title {
  @media (min-width: 1200px) {
    margin-bottom: 13px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
  }
}

.screen-1__descr {
  @media (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
  }
}
