¸.screen {
  &_white {
    background-color: $white-color;
  }
  &_dark {
    color: $white-color;
    background-color: $primary-accent-color;
  }
}

.screen__content {
  @media (min-width: 1200px) {
    position: relative;
  }
}

.screen__title {
  margin: 0;

  &_style_1 {
    font-weight: bold;
  }

  &_style_2 {
    font-weight: 300;
  }

  font-size: 32px;
  line-height: 38px;

  text-align: center;

  @media (min-width: 1200px) {
    font-size: 32px;
    line-height: 38px;

    text-align: initial;
  }
}

.screen__button {
  @media (min-width: 1200px) {
    width: 430px;
    border-radius: 27px;

    font-size: 18px;

    &::before {
      border-radius: 26px;
    }
  }
}

.screen__item {
  position: relative;

  margin-bottom: 15px;
  padding-left: 28px;

  text-align: initial;

  @media (min-width: 1200px) {
    display: block;
    padding-left: 42px;
    text-align: initial;
  }
}

.screen__icon {
  &::before {
    position: absolute;

    display: inline-block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    content: '';

    @media (min-width: 1200px) {
      top: 9px;
    }
  }
}

.screen__image {
  position: absolute;
  left: 51%;

  transform: translateX(-50%);

  @media (min-width: 321px) {
    left: 50%;
  }

  @media (min-width: 1200px) {
    position: absolute;
    left: initial;
    top: 138px;
    right: -37px;

    transform: initial;
  }
}
