.screen-3__title {
  margin-bottom: 18px;
  padding-top: 34px;

  @media (min-width: 1200px) {
    margin-bottom: 44px;
    padding-top: 130px;

    font-size: 52px;
    line-height: 62px;
    text-align: initial;
  }
}

.screen-3__list {
  margin-bottom: 4px;

  @media (min-width: 1200px) {
    width: 571px;
    margin-bottom: 49px;
  }
}

.screen-3__item {
  @media (min-width: 1200px) {
    margin-bottom: 1px;
    padding-left: 42px;

    line-height: 46.01px;
    text-align: initial;
  }
}

.screen-3__icon {
  &::before {
    @media (min-width: 1200px) {
      top: 9px;
    }
  }

  &_location::before {
    left: 3px;

    width: 10px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 5px;
      top: 10px;

      width: 16px;
      height: 26px;
    }
  }

  &_bus::before {
    left: 2px;

    width: 13px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 3px;
      top: 11px;

      width: 20px;
      height: 23px;
    }
  }

  &_food::before {
    left: 0;
    top: 2px;

    width: 16px;
    height: 10px;

    @media (min-width: 1200px) {
      left: 1px;
      top: 14px;

      width: 24px;
      height: 15px;
    }
  }

  &_padlock::before {
    left: 2px;
    top: -1px;

    width: 12px;
    height: 14px;

    @media (min-width: 1200px) {
      left: 4px;
      top: 9px;

      width: 18px;
      height: 22px;
    }
  }

  &_tree::before {
    left: 1px;
    top: -2px;

    width: 14px;
    height: 14px;

    @media (min-width: 1200px) {
      left: 2px;
      top: 7px;

      width: 22px;
      height: 22px;
    }
  }
}

.screen-3__time-counter {
  display: flex;
  width: 100%;
  margin-top: 255px;

  justify-content: space-between;

  @media (min-width: 1200px) {
    width: 571px;
    margin-top: initial;
  }
}
