.screen-4__content {
  padding-top: 36px;

  @media (min-width: 1200px) {
    padding-top: 130px;
  }
}

.screen-4__title {
  margin-bottom: 45px;

  @media (min-width: 1200px) {
    margin-bottom: 52px;

    font-size: 55px;
    line-height: 66px;
    text-align: initial;
  }
}

.screen-4__list {
  @media (min-width: 1200px) {
    width: 571px;
  }
}

.screen-4__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 27px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 20px;
    padding-left: 42px;

    line-height: 26px;

    text-align: initial;

    &:last-child {
      margin-bottom: 36px;
    }
  }
}

.screen-4__icon {
  &::before {
    filter: invert(1);
  }

  &_internet::before {
    top: -1px;
    left: 1px;

    width: 15px;
    height: 15px;

    @media (min-width: 1200px) {
      left: 1px;
      top: -1px;

      width: 24px;
      height: 24px;
    }
  }

  &_desc-lamp::before {
    left: 1px;
    top: -2px;

    width: 15px;
    height: 15px;

    @media (min-width: 1200px) {
      left: -1px;
      top: -4px;

      width: 25px;
      height: 25px;
    }
  }

  &_hand-shake:before {
    left: 2px;
    top: -1px;

    width: 15px;
    height: 13px;

    @media (min-width: 1200px) {
      left: 0;

      width: 24px;
      height: 20px;
    }
  }

  &_phone-booth::before {
    left: 2px;
    top: -1px;

    width: 12px;
    height: 14px;

    @media (min-width: 1200px) {
      left: 4px;
      top: -2px;

      width: 15px;
      height: 25px;
    }
  }

  &_printer::before {
    left: 1px;
    top: -1px;

    width: 14px;
    height: 14px;

    @media (min-width: 1200px) {
      left: 0;
      top: 1px;

      width: 24px;
      height: 23px;
    }
  }
}

.screen-4__time-counter {
  display: flex;
  width: 100%;
  margin-top: 251px;

  justify-content: space-between;

  @media (min-width: 1200px) {
    width: 571px;
    margin-top: initial;
  }
}
