.screen-8__content {
  padding-top: 35px;

  @media (min-width: 1200px) {
    padding-top: 130px;
  }
}

.screen-8__title {
  margin-bottom: 41px;

  @media (min-width: 1200px) {
    margin-bottom: 48px;

    font-size: 55px;
    line-height: 66px;
    text-align: initial;
  }
}

.screen-8__list {
  @media (min-width: 1200px) {
    width: 571px;
  }
}

.screen-8__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 28px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 16px;
    padding-left: 42px;

    font-size: 20px;
    line-height: 29px;

    text-align: initial;

    &:last-child {
      margin-bottom: 36px;
    }
  }
}

.screen-8__icon {
  &_developer-mode::before {
    left: 0;
    top: 1px;

    width: 14px;
    height: 17px;

    @media (min-width: 1200px) {
      left: 1px;
      top: 0;

      width: 24px;
      height: 24px;
    }
  }

  &_group:before {
    left: -2px;
    top: -2px;

    width: 17px;
    height: 14px;

    @media (min-width: 1200px) {
      left: -1px;

      width: 26px;
      height: 26px;
    }
  }

  &_suitcase::before {
    left: -1px;
    top: -3px;

    width: 16px;
    height: 14px;

    @media (min-width: 1200px) {
      left: 1px;
      top: 0;

      width: 24px;
      height: 20px;
    }
  }

  &_money-bag::before {
    left: -1px;
    top: -1px;

    width: 15px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 1px;

      width: 24px;
      height: 23px;
    }
  }

  &_house::before {
    left: 1px;
    top: 0;

    width: 16px;
    height: 16px;

    @media (min-width: 1200px) {
      left: 0;
      top: 5px;

      width: 28px;
      height: 20px;
    }
  }
}

.screen-8__image {
  @media (min-width: 1200px) {
    top: 136px;
  }
}

.screen-8__time-counter {
  display: flex;
  width: 100%;
  margin-top: 251px;

  justify-content: space-between;

  @media (min-width: 1200px) {
    width: 571px;
    margin-top: initial;
  }
}
