.screen-1 {
  color: $white-color;
  text-align: center;

  @media (max-width: 320px) {
    @include bg-image('../images/screen-1_bg-img-mobile');
  }

  @media (min-width: 321px) {
    @include bg-image('../images/screen-1_bg-img-desktop');
  }
}

.screen-1__content {
  padding-top: 248px;
}

.screen-1__title,
.screen-1__descr,
.screen-1__button {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    margin: 0;
  }
}

.screen-1__button {
  @media (min-width: 1200px) {
    display: inline-block;
  }
}

.screen-1__title {
  @media (min-width: 1200px) {
    margin-bottom: 13px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
  }
}

.screen-1__descr {
  @media (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
  }
}

.screen-1__form {
  position: absolute;
  top: 184px;

  width: 296px;
  height: 362px;
  border-radius: 8px;

  background-color: $white-color;

  &::before {
    position: absolute;
    top: -85px;
    left: 50%;

    display: block;
    width: 124px;
    height: 85px;

    content: '';

    @include bg-image(
      $path: '../images/screen-1_logo-mobile',
      $ext: 'png',
      $pos: top
    );

    transform: translateX(-50%);
  }

  @media (min-width: 1200px) {
    display: none;
  }
}
