.section {
  &_white {
    background-color: $white-color;
  }
  &_dark {
    color: $white-color;
    background-color: $primary-accent-color;
  }
}

.section__content {
  @media (min-width: 1920px) {
    position: relative;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 18px;
  padding-top: 34px;

  font-size: 2.28571429rem;
  line-height: 1.2;
  font-weight: 300;

  text-align: center;

  @media (min-width: 1920px) {
    margin-bottom: 54px;
    padding-top: 131px;
  }
}

.section__button {
  @media (min-width: 1920px) {
    width: 430px;
    border-radius: 27px;

    font-size: 18px;

    &::before {
      border-radius: 26px;
    }
  }
}

.section__image {
  position: absolute;
  left: 51%;

  transform: translateX(-50%);

  @media (min-width: 1920px) {
    position: absolute;
    left: initial;
    top: 138px;
    right: -40px;

    transform: initial;
  }
}
