.time-counter__item {
  height: 49px;
  border-radius: 6px;

  flex: 0 0 68px;

  background-color: $secondary-accent-color;

  @media (min-width: 1200px) {
    height: 95px;
    flex: 0 0 132px;
  }
}
